.button
{
border:1px solid black;
border-radius:10px;
background: radial-gradient(#CCCCCC, grey);
font-size:large;
}

.affich
{
background: linear-gradient(#C0C0C0, #CCCCCC);
border:3px solid grey;
text-align:right;
height:70px;

}

.button:hover
{
background: radial-gradient(grey,#CCCCCC);
}

#calculette
{
width:400px;
height:450px;
margin:auto;
background: radial-gradient(#999999,#CCCCCC);
margin-top:10%;
text-align:center;
border-radius:3px;
table-layout:fixed;
border:2px solid grey;
padding:0.5%;
}

#op
{
height:30%;
}

#result
{
height:70%;
padding:2%;
font-size:large
}